/* Fonts */
:root {
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Montserrat", sans-serif;
    --nav-font: "Lato", sans-serif;
  }
  
  /* Global Colors */
  :root {
    --background-color: #ffffff;
    --background-color-rgb: 255, 255, 255;
    --default-color: #212529;
    --default-color-rgb: 33, 37, 41;
    --primary-color: #419235;
    --primary-color-rgb: 232, 69, 69;
    --secondary-color: #32353a;
    --secondary-color-rgb: 50, 53, 58;
    --contrast-color: #ffffff;
    --contrast-color-rgb: 255, 255, 255;
  }
  
  /* Nav Menu Colors */
  :root {
    --nav-color: #3a3939;
    --nav-hover-color: #419235;
    --nav-dropdown-color: #3a3939;
    --nav-dropdown-hover-color:#419235;
    --nav-dropdown-background-color: #ffffff;
    --nav-mobile-background-color: #ffffff;
  }
  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: rgba(var(--primary-color-rgb), 0.7);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
  }
  
  section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    overflow: clip;
  }
  
  /*--------------------------------------------------------------
  # Section Title
  --------------------------------------------------------------*/
  .section-title {
    text-align: center;
    padding-bottom: 60px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
  }
  
  .section-title h2:before,
  .section-title h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--primary-color);
    display: inline-block;
  }
  
  .section-title h2:before {
    margin: 0 15px 10px 0;
  }
  
  .section-title h2:after {
    margin: 0 0 10px 15px;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  